/SQLA/intro/notes/venv
/SQLA/flask-blogly/venv
/SQLA/flask-blogly/__pycache__

/SQLA/intro/notes/pet_shop/__pycache__
SQLA/relationships/venv
SQLA/relationships/one-to-many/__pycache__
SQLA/relationships/many-to-many/__pycache__