{%extends 'base.html'%} {%block title%}
<h1>{{user.first_name}} {{user.last_name}}'s Info</h1>
{%endblock%}
<!--  -->
{%block content%}

<div class="d-flex column">
	{% if user.image_url %}
	<div class="">
		<img
			src="{{ user.image_url }}"
			alt="{{ user.full_name }}"
			class="img-fluid"
		/>
	</div>
	{% endif %}
	<div>
		<form class="d-flex">
			<button
				class="btn btn-primary"
				formaction="/users/{{ user.id }}/edit"
				formmethod="GET"
			>
				Edit
			</button>
			<button
				class="btn btn-danger"
				formaction="/users/{{ user.id }}/delete"
				formmethod="POST"
			>
				Delete
			</button>
		</form>
		<!--Post info  -->
		<h2>Posts</h2>

		{% if user.posts %}

		<ol>
			{% for post in user.posts %}
			<li>
				<a href="/posts/{{post.id}}">{{post.title}}</a>
				<small class="d-flex">{{ post.friendly_date }}</small>
			</li>
			{% endfor %}
		</ol>
		{%else%}
		<ul>
			<li>{{user.full_name}} has no posts</li>
		</ul>
		{% endif %}
		<a href="/" class="btn btn-outline-primary">Home</a>
		<a href="/users/{{user.id}}/posts/new" class="btn btn-success"> Add Post </a>
	</div>
</div>

{%endblock%}
